# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#CMake stuff:
*.cmake
CMakeCache.txt
CMakeFiles/*
Makefile
src/Makefile
src/CMakeFiles

#Binary files:
pcg

#Ignore program outputs:
log.txt
